*{
    margin: 0;
    padding: 0;   
}
h1{
    text-align: center;
    padding: 20px;
}
.container{
    background: #778899;
    width: 500px;
    margin:  0px 0px 0px 430px;
    color: white;
    font-size: 18px;
    padding:20px;
    border-radius: 10px;
}
#container{
    margin-left:200px;
}           
label{
    color:white;
    font-family: sans-serif;
    font-size: 18px;
    font-style:bold;
    margin-left: 90px;
    
}
#name{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 5px;
    margin-left: 90px;

   
}
#num{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 5px;
    margin-left: 90px;

}
#pass{
width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 5px;
    margin-left: 90px;
}
#email
{
width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 5px;
    margin-left: 90px;
    
}
#add{
width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 5px;
    margin-left: 90px;
}
#state{
width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 5px;
    margin-left: 90px;
}
#city{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 5px;
    margin-left: 90px;
}
#sub{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: black;
    border-radius: 3px;
    margin-left: 90px;
    margin-bottom: 20px;
}
#reset
{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border:black;
    border-radius: 3px;
    margin-left: 90px;
}
    